p{font-size: medium;
font-family: Arial, Helvetica, sans-serif;
color: #ff5900;
}

.p-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #971bef;
    
}

body {
    background-image: url("./images/Escape-From-Tarkov-Streets-of-Tarkov-map-2000x1270-1-1392x884.jpg");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    min-height: 100vh;             
}

.body-background{
    background-color: rgba(0, 0, 0, 0.679);
    margin: 0;
    background-position: center;
}
