        .text-shepa{
            font-weight: bold;
    }

    body{background-color: rgb(105, 118, 81);}

.head{
    color: darkgoldenrod;
  
}
h1 {font-family: 'Courier New', Courier, monospace;
color: #980404;
}
.sherpa {
border: black;



}

.text{
    font-style: italic;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img-link{
    border:1px solid black;
}
.body-custom {
    background-color: burlywood;
}

.pic-1{
display: flex
   
}

.tabs {
    display: flex;
    justify-content:space-between;
    margin: 10px;
}
h4{
    font-weight: bold;
}